.wrap {
  width: 100vw;
  z-index: 0;
  height: 100vh;
  background-color: #1f1f1f;
}

.controls {
  z-index: 9999;
  position: fixed;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}
