.wrap {
  width: 100vw;
  z-index: 0;
  height: 100vh;
  background-color: rgb(255, 161, 161);
}

.controls {
  position: fixed;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}
