*,
:after,
:before {
  box-sizing: border-box;
}

.app {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  text-rendering: optimizeLegibility;
}

.navigation {
  padding: 10px;
  z-index: 999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  padding: 20px 10px;
}
